{{template "header.html" .}}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{.title}}</h1>
</div>
{{ if ne .msg "" }}
<div class="alert alert-primary" role="alert">
    {{.msg}}
</div>
{{ end}}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">分组</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    {{ range  .paginate.Data }}
    <tr>
        <td>{{.ID}}</td>
        <td width="30%">{{.Name}}</td>
        <td>
            <a href="/man/node?group={{.ID}}" class="btn btn-sm btn-primary">节点</a>
            <a href="/man/group/url/{{.ID}}" class="btn btn-sm btn-primary">订阅</a>
            <a href="/man/group/edit/{{.ID}}" class="btn btn-sm btn-primary">修改</a>
            <a href="/man/group/del/{{.ID}}" class="btn btn-sm btn-primary" onclick="if(!confirm('确定删除？')){return false;}">删除</a>
        </td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ if gt .paginate.TotalPage 1 }}
<nav aria-label="...">
    <ul class="pagination pagination-sm justify-content-end">
        {{ range .paginate.PageList }}
        <li class="page-item" aria-current="page">
            <a class="page-link" href="/man/group?page={{.}}">{{.}}</a>
        </li>
        {{ end }}
    </ul>
</nav>
{{end}}
{{template "footer.html" .}}